@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lista de Compras</h1>
    <p>Adicione itens a sua <a asp-area="" asp-controller="Produtos" asp-action="Create">Lista de Compras</a>.</p>
</div>
